<p id="notice"><%= notice %></p>

<p>
  <strong>Destroy:</strong>
  <%= @rail.destroy %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @rail.scaffold %>
</p>

<p>
  <strong>Lightoptions:</strong>
  <%= @rail.LightOptions %>
</p>

<%= link_to 'Edit', edit_rail_path(@rail) %> |
<%= link_to 'Back', rails_path %>
